---
import Layout from '../layouts/Layout.astro'
import Banner from '@/lib/Banner.astro'

const tiles = [
	{
		name: 'server',
		desc: 'Server',
		link: '/server',
		icon: 'fa-solid fa-server'
	},
	{
		name: 'gaming',
		desc: 'Gaming',
		link: '/gaming',
		icon: 'fa-solid fa-gamepad'
	},
	{
		name: 'projects',
		desc: 'Projekte',
		link: '/projects',
		icon: 'fa-solid fa-code'
	},
	{
		name: 'links',
		desc: 'Links & Kontakt',
		link: '/links',
		icon: 'fa-solid fa-link'
	}
]
---

<Layout title="henahax.de">
	<div class="flex flex-col items-center justify-center gap-8">
		<Banner isLayout={false} />

		<div class="grid w-full max-w-md grid-cols-1 gap-4 sm:grid-cols-2">
			{
				tiles.map((tile) => (
					<a
						class="card link flex flex-col items-center justify-center gap-2 rounded-xl p-4 text-center text-lg backdrop-blur-md"
						href={tile.link}
						transition:name={tile.name}
					>
						<i class={tile.icon} transition:name={'icon' + tile.name} />
						<div transition:name={'title' + tile.name}>{tile.desc}</div>
					</a>
				))
			}
		</div>
	</div>
</Layout>
