---
import Layout from '@/layouts/Layout.astro'
import Card from '@/components/Card.astro'

const links = [
	{
		name: 'Webseite',
		link: 'https://henahax.de',
		icon: 'fa-solid fa-globe',
		backgroundImage: "url('../pexels-harold-vasquez-853421-2653362.jpg')"
	},
	{
		name: 'E-Mail',
		link: 'mailto:mail@henahax.de',
		icon: 'fa-solid fa-envelope',
		background: '#0085ff'
	},
	{
		name: 'Instagram',
		link: 'https://instagram.henahax.de',
		icon: 'fa-brands fa-instagram',
		backgroundImage: 'linear-gradient(-135deg, #1400c8, #b900b4, #f50000)'
	},
	{
		name: 'Steam',
		link: 'https://steam.henahax.de',
		icon: 'fa-brands fa-steam-symbol',
		background: '#171a21'
	},
	{
		name: 'Discord',
		link: 'https://discordapp.com/users/128418924084723712',
		icon: 'fa-brands fa-discord',
		background: '#5865f2'
	},
	{
		name: 'GitHub',
		link: 'https://github.henahax.de',
		icon: 'fa-brands fa-github',
		background: '#000'
	},
	{
		name: 'OnlyFans',
		link: '/onlyfans',
		icon: 'fa-solid fa-lock',
		background: '#00AFF0'
	}
]
---

<Layout title="Links - henahax.de">
	<Card transitionName="links">
		<i slot="icon" class="fa-solid fa-link"></i>
		<div slot="title">Links</div>
		<div slot="content" class="grid grid-cols-[1fr_auto_auto_1fr] justify-center gap-x-2 gap-y-4">
			{
				links.map((link) => (
					<a
						target="_blank"
						rel="noopener noreferrer"
						href={link.link}
						class="card subcard col-span-full grid grid-cols-subgrid items-center"
						style={
							link.backgroundImage
								? `background-image: ${link.backgroundImage}`
								: `background-color: ${link.background}`
						}
					>
						<span />
						<i class={link.icon} />
						<div>{link.name}</div>
						<span />
					</a>
				))
			}
		</div>
	</Card>
</Layout>

<style>
	a {
		background-repeat: no-repeat;
		background-size: cover;
		padding: 0.75rem;
	}
</style>
