---
import Layout from "../layouts/Layout.astro";
import Link from "../components/Link.astro";

import links from "../../public/links.json";
---

<Layout title="@henahax">

  <section>
    <div class="flex flex-col gap-4">
    <div class="text-center">
      <div class="bg-white rounded-full h-20 w-20 mx-auto"></div>
      <div class="text-xl">@henahax</div>
    </div>
    <ul class="max-w-sm mx-auto flex flex-col gap-4 w-full">
      {
        links.map((link) => (
          <Link
            name={link.name}
            link={link.link}
            icon={link.icon}
            color={link.color}
            backgroundColor={link.backgroundColor}
            backgroundImage={link.backgroundImage}
          />
        ))
      }
    </ul>
  </div>
  </section>
</Layout>

<style>
  section {
    @apply min-h-dvh py-24 px-8;
    scroll-snap-align: start end;
    font-family: system-ui, sans-serif;
  }
</style>
