---
import Layout from "../layouts/Layout.astro";
import Card from "@/lib/Card.astro";

const links = [
  {
    name: "Webseite",
    link: "https://henahax.de",
    icon: "fa-solid fa-globe",
    backgroundImage: "url('../pexels-harold-vasquez-853421-2653362.jpg')",
  },
  {
    name: "E-Mail",
    link: "mailto:mail@henahax.de",
    icon: "fa-solid fa-envelope",
    background: "#0085ff",
  },
  {
    name: "Twitter",
    link: "https://twitter.henahax.de",
    icon: "fa-brands fa-x-twitter",
    background: "#000",
  },
  {
    name: "Instagram",
    link: "https://instagram.henahax.de",
    icon: "fa-brands fa-instagram",
    backgroundImage: "linear-gradient(-135deg, #1400c8, #b900b4, #f50000)",
  },
  {
    name: "Steam",
    link: "https://steam.henahax.de",
    icon: "fa-brands fa-steam-symbol",
    background: "#171a21",
  },
  {
    name: "Discord",
    link: "https://discordapp.com/users/128418924084723712",
    icon: "fa-brands fa-discord",
    background: "#5865f2",
  },
  {
    name: "GitHub",
    link: "https://github.henahax.de",
    icon: "fa-brands fa-github",
    background: "#000",
  },
  {
    name: "OnlyFans",
    link: "/onlyfans",
    icon: "fa-solid fa-lock",
    background: "#00AFF0",
  },
];
---

<Layout title="Links - henahax.de">


  <a href="/" class="flex items-center gap-4">
    <img id="henahaxIcon" src="../henahax.svg" />

    <div class="flex items-baseline">
      <span id="henahax" class="text-5xl font-semibold">henahax</span>
      <span id="tld" class="text-xl text-neutral-400">.de</span>
    </div>
  </a>

  <Card transitionName="links">
    <i slot="icon" class="fa-solid fa-link"></i>
    <div slot="title">Links</div>
    <div slot="content" class="grid grid-cols-[1fr_auto_auto_1fr] gap-4 justify-center">
      {
        links.map((link) => (
          <a target="_blank" rel="noopener noreferrer"
            href={link.link}
            class="link grid grid-cols-subgrid col-span-full items-center rounded-xl p-2 sm:p-4"
            style={link.backgroundImage ? 
              `background-image: ${link.backgroundImage}` : 
              `background-color: ${link.background}`
            }
          >
            <span></span>
            <i class={link.icon} />
            <div>{link.name}</div>
            <span></span>
          </a>
        ))
      }
    </div>
  </Card>
</Layout>

<style>
  a {
    background-repeat: no-repeat;
    background-size: cover;
  }
</style>